@font-face {
  font-family: "rz-regular";
  src: url("./fonts/480e3d39ed40d6543721946a2d36ccff.woff") format("woff"),
    url("./fonts/480e3d39ed40d6543721946a2d36ccff.ttf") format("truetype");
}

@font-face {
  font-family: "maison-neue-mono";
  src: url("./fonts/Maison\ Neue\ Mono.woff") format("woff"),
    url("./fonts/Maison\ Neue\ Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica\ 400.ttf") format("truetype");
}

* {
  /* font-family: rz-regular, Arial, sans-serif; */
  /* font-family: maison-neue-mono; */
  font-family: Helvetica;
  /* font-family: "Gilda Display", serif; */
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
}

.app {
  align-items: center;
  width: 100%;
}

.container-header,
.container-question-list,
.component-question-create,
.component-question-show,
.component-post-edit,
.component-signup,
.component-login,
.component-profile {
  width: 650px;
  margin: 0 20px;
  margin-bottom: 100px;
}

a,
p,
h1,
h2,
h3,
h4,
button,
svg,
li {
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: column;
}

/* Header */

.component-header {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0;
  margin-bottom: 70px;
}
/* 
#website-name {
  letter-spacing: 10px;
} */

/* Navbar */

.component-navbar {
  flex-direction: row;
  align-items: center;
}

.component-navbar span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

.component-navbar span div a {
  margin-left: 0;
  background-color: white;
  /* background-color: rgb(209, 229, 241); */
}

.component-navbar a,
.component-navbar button {
  color: rgb(57, 115, 180);
  font-size: 16px;
  margin-left: 32px;
  padding: 5px;
  background-color: rgb(225, 236, 244);
  /* background-color: white; */
  border-radius: 5px;
}

.component-navbar a,
:hover .component-navbar button:hover {
  background-color: rgb(209, 229, 241);
  cursor: pointer;
}

.component-navbar p {
  font-size: 13px;
  opacity: 0.5;
}

/* PostTitle */

.component-post-title a {
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(57, 115, 180);
}

/* QuestionListHeader */

.component-question-list-header {
  justify-content: space-between;
}

.component-question-list-header div a {
  font-size: 16px;
}

.component-question-list-header h1 {
  font-size: 28px;
  font-weight: 300;
}

.component-question-list-header {
  flex-direction: row;
  align-items: center;
}

.component-question-list-header {
  margin-bottom: 50px;
}

/* ComponentQuestionAsk */

.component-question-ask-button a {
  color: rgb(57, 115, 180);
  padding: 5px;
  background-color: rgb(225, 236, 244);
  border-radius: 5px;
}

.component-question-ask-button:hover {
  background-color: rgb(209, 229, 241);
  cursor: pointer;
}

/* QuestionSummary */

.component-question-summary {
  flex-direction: row;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(225, 236, 244);
}

.summary-right {
  width: 100%;
}

.summary-right div {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* PostStats */

.component-post-stats {
  margin-right: 30px;
  min-width: 50px;
}

.component-post-stats div {
  align-items: center;
  margin-bottom: 20px;
}

.component-post-stats div p {
  opacity: 0.5;
}

.component-post-stats div :nth-child(1) {
  font-size: 24px;
}

.component-post-stats div :nth-child(2) {
  font-size: 11px;
  opacity: 0.5;
}

/* Question Excerpt */

.component-question-excerpt div {
  font-size: 13px;
  margin-bottom: 15px;
  word-break: break-all;
}

/* PostText */

.component-post-text div {
  margin-bottom: 15px;
  line-height: 1.3;
  word-break: break-all;
}

.component-post-text div figure img {
  max-width: 100%;
}

.component-post-text div figure figcaption {
  font-size: 13px;
  text-align: center;
  opacity: 0.5;
  margin: 10px 0;
}

.component-post-text p {
  margin-bottom: 15px;
  line-height: 1.3;
}

.component-post-text strong {
  font-weight: bold;
}

.component-post-text div ul,
.component-post-text div ol {
  margin-left: 16px;
}

.component-post-text div p a {
  color: rgb(57, 115, 180);
}

.image-style-side {
  width: 50%;
}

/* ComponentQuestionShow */

.component-question-show div div div.component-post-title a {
  font-size: 28px;
}

/* AnswerList */

.component-answer-list h1 {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* PostLayout */

.component-post-layout {
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(225, 236, 244);
}

.post-layout-right {
  width: 100%;
}

/* PostVote */

.component-post-vote {
  margin-right: 30px;
  align-items: center;
}

.component-post-vote p {
  font-size: 20px;
  opacity: 0.5;
}

.component-post-vote button {
  background-color: white;
}

.component-post-vote button svg {
  background-color: white;
  width: 36px;
  height: 36px;
  opacity: 0.2;
}

/* PostInfo */

.component-post-info {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* PostMenu */

div.component-post-menu {
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-right: 20px;
}

div.component-post-menu a {
  margin-right: 15px;
  opacity: 0.5;
  text-transform: lowercase;
  font-size: 13px;
}

div.component-post-menu div button {
  text-transform: lowercase;
  opacity: 0.5;
  font-size: 13px;
  background-color: white;
}

/* PostTags */

.component-post-tags {
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.component-post-tags a {
  margin-right: 15px;
  padding: 5px;
  background-color: rgb(225, 236, 244);
  border-radius: 5px;
  color: rgb(57, 115, 180);
  font-size: 13px;
}

.component-post-tags a:hover {
  background-color: rgb(209, 229, 241);
}

/* Post Signature */

.component-post-signature {
  flex-direction: row;
  margin-bottom: 15px;
}

/* PostRelativeTime */

.component-relative-time p {
  opacity: 0.5;
  margin-right: 10px;
  font-size: 13px;
}

/* UsernameLink */

.component-username-link a {
  color: rgb(57, 115, 180);
  font-size: 13px;
}

/* Component PostEdit */

.component-post-edit h1 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* QuestionCreate */

.component-question-create h1 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}

form div label {
  font-weight: 300;
  margin-bottom: 5px;
}

form label,
#form-body-label {
  font-weight: 300;
  margin-bottom: 5px;
}

form div p {
  font-size: 13px;
  opacity: 0.5;
  margin-bottom: 15px;
}

input,
textarea {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 2px;
  padding: 8px 10px;
  width: auto;
}

textarea {
  height: 150px;
}

::placeholder {
  opacity: 0.5;
  font-size: 13px;
}

.error-message {
  color: #d1383d;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 20px;
}

.error {
  border-color: #d1383d;
}

form button {
  color: rgb(57, 115, 180);
  padding: 5px;
  background-color: rgb(225, 236, 244);
  border-radius: 5px;
}

form button:hover {
  background-color: rgb(209, 229, 241);
  cursor: pointer;
}

/* CKEditor */

.ck.ck-dropdown {
  display: none;
}

.ck.ck-toolbar {
  padding: 0;
}

.ck.ck-toolbar .ck.ck-toolbar__separator:nth-child(2) {
  display: none;
}

.ck-content {
  min-height: 150px;
}

.ck-content p {
  font-size: 16px;
  opacity: 1;
}

.ck-content p strong {
  font-weight: bold;
}

.ck-content ol,
.ck-content ul {
  margin-left: 16px;
}

#editor-description {
  font-size: 13px;
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 10px;
}

.ck-content figure {
  max-width: 100%;
}

.ck-content .image {
  margin: 0;
}

.ck-content .image > img {
  margin: 0;
  width: 100%;
}

.ck-content .image > figcaption {
  font-size: 13px;
  text-align: center;
  opacity: 0.5;
  margin: 10px 0;
  background-color: white;
}

/* AnswerCreate */

.component-answer-create {
  margin-bottom: 50px;
}

.component-answer-create form div label {
  font-size: 28px;
  font-weight: 300;
  margin-top: 15px;
}

@media (max-width: 700px) {
  .container-question-list,
  .component-question-create,
  .component-question-show,
  .component-post-edit,
  .component-signup,
  .component-login,
  .component-profile {
    width: calc(100vw - 40px);
  }

  .container-header {
    width: 100%;
  }

  #website-name {
    margin-left: 20px;
  }

  .component-navbar {
    margin-right: 20px;
  }

  .component-navbar span {
    display: none;
  }

  .image-style-side,
  .image-style-side img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .ck-editor__top {
    display: none;
  }
}
