@font-face {
  font-family: "rz-regular";
  src: url("./fonts/480e3d39ed40d6543721946a2d36ccff.woff") format("woff"),
    url("./fonts/480e3d39ed40d6543721946a2d36ccff.ttf") format("truetype");
}

@font-face {
  font-family: "maison-neue-mono";
  src: url("./fonts/Maison\ Neue\ Mono.woff") format("woff"),
    url("./fonts/Maison\ Neue\ Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica\ 400.ttf") format("truetype");
}

* {
  /* font-family: rz-regular, Arial, sans-serif; */
  /* font-family: maison-neue-mono; */
  font-family: Helvetica;
  font-family: "Gilda Display", serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
  align-items: center;
}

.app {
  margin: 0 25px;
  width: 650px;
}

a,
p,
h1,
h2,
h3,
h4 {
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: column;
}

.container-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.container-header a {
  font-size: 16px;
}

.component-navbar {
  flex-direction: row;
}

.component-navbar a,
.component-navbar button {
  color: rgb(26, 13, 171);
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}

.component-navbar p {
  margin-top: 2px;
}

.component-post-signature {
  flex-direction: row;
}

.component-question-title a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(26, 13, 171);
  margin-bottom: 10px;
}

.component-question-list-header {
  justify-content: space-between;
}

.component-question-list-header div a {
  font-size: 16px;
}

.component-question-list-header h1 {
  font-size: 40px;
}

.component-post-signature,
.component-question-list-header {
  flex-direction: row;
  align-items: center;
}

.component-question-list-header {
  margin-top: 70px;
  margin-bottom: 50px;
}

.component-question-summary {
  margin-bottom: 40px;
}

.component-question-excerpt div {
  flex-direction: row;
  margin-bottom: 10px;
}

.component-relative-time p {
  opacity: 0.5;
  margin-right: 10px;
}

.component-question-owner-name a {
  color: rgb(26, 13, 171);
  font-weight: bold;
}

@media (max-width: 700px) {
  .app {
    width: auto;
  }
}
