@font-face {
  font-family: "rz-regular";
  src: url("./fonts/480e3d39ed40d6543721946a2d36ccff.woff") format("woff"),
    url("./fonts/480e3d39ed40d6543721946a2d36ccff.ttf") format("truetype");
}

@font-face {
  font-family: "maison-neue-mono";
  src: url("./fonts/Maison\ Neue\ Mono.woff") format("woff"),
    url("./fonts/Maison\ Neue\ Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica\ 400.ttf") format("truetype");
}

* {
  /* font-family: rz-regular, Arial, sans-serif; */
  /* font-family: maison-neue-mono; */
  font-family: Helvetica;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  margin: 0 25px;
}

a,
p,
h1,
h2,
h3,
h4 {
  color: rgb(51, 51, 51);
}

div {
  display: flex;
  flex-direction: column;
}

.container-header {
  flex-direction: row;
  justify-content: space-between;
}

.component-navbar {
  flex-direction: row;
}

.component-post-signature {
  flex-direction: row;
}

.component-question-title a {
  text-decoration: none;
  font-size: 20px;
}

.component-question-list-header h1 {
  font-size: 40px;
}

.component-post-signature,
.component-question-list-header {
  flex-direction: row;
  align-items: center;
}

.component-question-list-header {
  margin-bottom: 25px;
}

.component-question-summary {
  margin-bottom: 40px;
}

.component-question-title {
  margin-bottom: 10px;
}

.component-question-excerpt div {
  flex-direction: row;
  margin-bottom: 10px;
}

.component-relative-time p {
  opacity: 0.5;
  margin-right: 10px;
}
